name: Publish to PyPI

on:
  workflow_dispatch: # Allow workflow to be triggered manually
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: awalsh128/cache-apt-pkgs-action@v1.4.3
        with:
          packages: libcups2-dev

      - uses: actions/setup-node@v4
        with:
          node-version: "23.11.0"
          cache: "npm"
          # Dummy value so cache is always restored unconditionally
          cache-dependency-path: '.python-version'

      - name: Install pyright
        run: npm install --global pyright

      - uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.14"

      - name: Check lint rules
        run: make -o .setup lint

      - name: Build package
        run: uv run --frozen python -m build

      - name: Publish to PyPI
        run: uv run --frozen twine upload dist/*

